{% extends 'templates/app.twig' %}

{% block content %}
	<main role="main" class="container">

		<div class="starter-template">
			<h1>{{ appName }}</h1>
			<p class="lead">Hello from {{ appName }}! <i class="fas fa-beer"></i></p>
		</div>

	</main><!-- /.container -->
{% endblock %}
