@import "bootstrap.custom.scss";
@import "font-awesome.custom.scss";

$body-padding-lg: $navbar-brand-height + $navbar-padding-y + $spacer;
$body-padding-md: $navbar-brand-height + $navbar-padding-y + $spacer;
$body-padding-sm: $navbar-brand-height + $navbar-padding-y + $spacer;
$body-padding-xs: $navbar-brand-height + $navbar-padding-y + $spacer;

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(xs) {
}