<div class="toast-container" style="position: absolute; top: 0; right: 0; z-index: 9999">

	{% for message in messages.getMessage('error')|raw %}
		{% include 'templates/partials/message.twig' with {
			'bgClass': 'bg-danger',
			'textClass': 'text-white',
			'icon': 'fa-bolt',
			'title': trans('common.error'),
			'message': message
		} %}
	{% endfor %}

	{% for message in messages.getMessage('warning')|raw %}
		{% include 'templates/partials/message.twig' with {
			'bgClass': 'bg-warning',
			'textClass': 'text-white',
			'icon': 'fa-exclamation',
			'title': trans('common.warning'),
			'message': message
		} %}
	{% endfor %}

	{% for message in messages.getMessage('success')|raw %}
		{% include 'templates/partials/message.twig' with {
			'bgClass': 'bg-success',
			'textClass': 'text-white',
			'icon': 'fa-check',
			'title': trans('common.success'),
			'message': message
		} %}
	{% endfor %}

	{% for message in messages.getMessage('info')|raw %}
		{% include 'templates/partials/message.twig' with {
			'bgClass': 'bg-info',
			'textClass': 'text-white',
			'icon': 'fa-info',
			'title': trans('common.info'),
			'message': message
		} %}
	{% endfor %}

</div>